<div class="signup-banner">

  <div class="container center">
    <div class="tab-content form-new">
      <h2 class="d-flex justify-content-center"></h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">

            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: "Email" %>
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        label: "Prénom" %>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        label: "Nom" %>

            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        label: "Mot de passe" %>
            <%= f.input :password_confirmation,
                        required: true,
                        label: "Confirmation du mot de passe" %>
            <%= f.input :birth_date,
                        as: :date,
                        start_year: Date.today.year - 19,
                        end_year: Date.today.year - 12,
                        required: true,
                        autofocus: true,
                        label: "Date de naissance" %>
          </div>


        <div class="d-flex justify-content-around form-actions mt-5">
          <div>
            <%= f.button :submit, "Inscription", class: 'btn-flat-big' %>
          </div>
        </div>
          <div class="d-flex justify-content-center mt-4">
           <div class="d-inline p-2 ">Vous avez déjà un compte Arter ?</div>
           <div class="d-inline p-2"><%= link_to "Connexion", new_user_session_path, class: 'red-h-btn mt-3' %></div>
          </div>

      </div>
    <% end %>
    </div>
</div>
