<div class="container min-footer">
  <br>
  <div class="centered-object">
      <%= form_tag artworks_path, style:"display: flex", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-input-bar",
        style: "border-radius: 50px 0px 0px 50px; width: 300px",
        placeholder: "Trouver une œuvre ou un artiste"
      %>
      <%= submit_tag "Search", class: "btn btn-flat-search", style: "margin-left: 0px; border-radius: 0px 50px 50px 0px" %>
    <% end %>
  </div>
  <br>
  <!-- <br> TODO: improve -->
  <% if params[:query].present? %>
    <h4>Résultats de recherche (<%= @artworks.count %>)</h4>
  <% end %>
  <div>



  <div class="cards-home py-3">

    <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>

        <div class="card card-radius <%= "card-artwork-disable" if artwork.availability == false %>">
          <img src=<%= cl_image_path artwork.picture.url(:index_card) %> class="card-img-top w-100" alt="...">
          <img src= <%= cl_image_path artwork.user.avatar %> class=" card-trip-user avatar-bordered avatar-card-position" >
          <div class="card-body">
            <h5 class="card-title"><strong><%= artwork.name %></strong></h5>
            <p class="card-text"><%= artwork.artist %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
