<div class="container py-5">
  <h3>Œuvres disponibles (<%= @artworks.count %>)</h3>
  <div>
  <div class="cards-home py-3">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
        <div class="card card-radius">
          <img src=<%= cl_image_path artwork.picture.url(:index_card) %> class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><%= artwork.name %></strong></h5>
            <p class="card-text"><%= artwork.artist %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="spacer-40"></div>
</div>
