<div class="container py-5">
  <br>
  <%= form_tag artworks_path, style:"display: flex", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    style: "border-radius: 50px; width: 300px",
    placeholder: "Trouver une œuvre ou un artiste"
  %>
  <%= submit_tag "Search", class: "btn btn-flat-big", style: "margin-left: 15px" %>
<% end %>
  <br>
  <br>
  <h3>Toutes les œuvres (<%= @artworks.count %>)</h3>
  <div>
  <div class="cards-home py-3">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
        <div class="card card-radius">
          <img src=<%= cl_image_path artwork.picture.url(:index_card) %> class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><%= artwork.name %></strong></h5>
            <p class="card-text"><%= artwork.artist %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
