<div class="artwork-container">
  <div class="d-md-flex flex-md-equal w-100">
    <div class="col-7">
      <img
        src="<%= cl_image_path @artwork.picture.url(:show_artwork) %>"
        class="img-show-artwork"
      />
    </div>

    <div class="col-5 mt-4">
      <div class="d-flex flex-column px-2">
        <div class="card-product-infos">
          <h2><%= @artwork.name %></h2>
          <h4 class="font-italic"><%= @artwork.artist %></h4>
          <p><%= @artwork.description %></p>

          <p>
            <a
              data-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
              ><strong>Voir les détails</strong>
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <i
                        class="fas fa-ruler-combined"
                        style="color: #ED254E;"
                      ></i>
                    </td>
                    <td>Hauteur <br /><%= @artwork.height %> cm</td>
                    <td>Largeur <br /><%= @artwork.width %> cm</td>
                    <td>Profondeur <br /><%= @artwork.depth %> cm</td>
                  </tr>
                  <tr>
                    <td>
                      <i
                        class="fas fa-weight-hanging"
                        style="color: #ED254E;"
                      ></i>
                    </td>
                    <td><%= @artwork.weight %> kg</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <% if @artwork.user == current_user %> <%= link_to "Modifier
          l'annonce", edit_artwork_path(@artwork), class: 'btn btn-flat-big
          mt-4', style: "width: 200px" %> <% end %>
        </div>

        <div>
          <% unless @artwork.user == current_user %>

          <hr class="mb-4" />

          <h5>Réserver cette œuvre</h5>

          <p>Prix par jour de location : <%= @artwork.price %> €</p>

          <%= render "bookings/bookingform", artwork: @artwork, booking:
          Booking.new %> <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>
