<div class="artwork-container">
  <div class="d-md-flex flex-md-equal w-100">

    <div class="col-7">
      <img src="<%= cl_image_path @artwork.picture.url(:show_artwork) %>"
        class="img-show-artwork">
    </div>

    <div class="col-5 mt-4">
      <div class="d-flex flex-column px-2">

        <div class="card-product-infos">
          <h2><%= @artwork.name %></h2>
          <h4 class="font-italic"><%= @artwork.artist %></h4>
          <p><%= @artwork.description %></p>
          <div>
            <p>Hauteur : <%= @artwork.height %> cm</p>
            <p>Largeur : <%= @artwork.width %> cm</p>
            <p>Profondeur : <%= @artwork.depth %> cm</p>
            <p>Poids : <%= @artwork.weight %> kg</p>
          </div>

          <p>Prix de la location : <%= @artwork.price %> €</p>

          <% if @artwork.user == current_user %>
            <%= link_to "Modifier l'annonce", edit_artwork_path(@artwork), class: 'btn btn-flat-big mt-4', style: "width: 200px" %>
          <% end %>
        </div>

        <div>
          <hr class="my-4">

          <h4>Réserver cette œuvre</h4>

          <%= render "bookings/bookingform", artwork: @artwork, booking: Booking.new %>
        </div>




      </div>
    </div>

  </div>
</div>
