<div class="artwork-container">
  <div class="d-md-flex flex-md-equal w-100">

    <div class="col-7">
      <img src="<%= cl_image_path @artwork.picture.url(:show_artwork) %>"
        class="img-show-artwork">
    </div>

    <div class="col-5 mt-4">
      <div class="d-flex flex-column px-2">

        <div>

          <div class="card-product-infos">

            <h2><%= @artwork.name %></h2>
            <h3>Artiste : <%= @artwork.artist %></h3>

            <p>Information sur l'œuvre : <%= @artwork.description %></p>
            <p>Dimension  L<%= @artwork.height %>* l<%= @artwork.width %>* P<%= @artwork.depth %> en cm</p>
            <p><strong>Prix : <%= @artwork.price %> € </p>

          </div>

          <% if @artwork.user == current_user %>
            <%= link_to "Modifier l'annonce", edit_artwork_path(@artwork), class: 'btn btn-primary' %>
          <% end %>
        </div>

        <div>
          <%= render "bookings/bookingform", artwork: @artwork, booking: Booking.new %>
        </div>




      </div>
    </div>

  </div>
</div>
