<h3>Mes réservations (<%= @bookings.count %>)</h3>

<% @bookings.each do |booking| %>
  <div class="card-product my-4">
    <%= cl_image_tag booking.artwork.picture, class: "card-product-img" %>
    <div class="card-product-infos" style="width: 900px">
      <div class="d-flex">
        <div class="ml-5">
          <h2>Œuvre</h2>
          <p><%= booking.artwork.name %></p>
          <p><%= booking.artwork.artist %></p>
        </div>

        <div class="ml-5 border-left pl-5">
          <h2>Durée de location</h2>
          <p>Du <%= booking.date_range %></p>
        </div>

        <div class="ml-5 border-left pl-5">
          <h2>Propriétaire</h2>
          <p><%= booking.artwork.user.first_name %> <%= booking.artwork.user.last_name %></p>
          <p><%= booking.artwork.user.email %></p>
        </div>

        <div class="ml-5 border-left pl-5">
          <h2>Statut</h2>
          <% if booking.status == "accepted" %>
            <p>Location validée</p>
          <% elsif booking.status == "declined" %>
            <p>Location refusée</p>
          <% else %>
            <p>Validation en attente</p>
          <% end %>
        </div>

      </div>
    </div>
    <%= link_to "<i class='far fa-trash-alt ml-auto' style='color: #ED254E; font-size: 32px; text-align: right'></i>".html_safe, booking_path(booking), method: :delete %>
  </div>
<% end %>
