<h3>Mes œuvres à louer</h3>

<div class="cards-home py-3">
  <% @artworks.each do |artwork| %>
      <div class="card-dash card-radius">
        <%= link_to artwork_path(artwork) do %>
          <%= cl_image_tag artwork.picture.url(:index_card), class: "card-img-top w-100" %>
        <% end %>
        <div class="card-body">
          <%= link_to artwork_path(artwork) do %>
            <h5 class="card-title" <strong><%= artwork.name %></strong></h5>
            <p class="card-text"><%= artwork.artist %></p>
          <% end %>
          <br>
          <div class="availability-info">
            <div class="mr-2">
                <p style="font-size: 13px">Disponibilité</p>
                <%= render "shared/switch", artwork: artwork %>
            </div>
          </div>
          
        </div>
      </div>
  <% end %>
</div>

